/* contact page */
:root{
    --light-black:radial-gradient(circle, #161515 60%,#252323 80%,#c2b9b9);
}

.form-container{
    min-height:100vh;
    width:100vw;
    overflow:hidden;
}

form{
    height:35rem;
    width:35rem;
    padding:10px;
    margin:2rem auto;
    background: var(--navbar-bg);
    color:var(--violet);
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
#dark form{
    color:var(--rose-pink);
}
form label{
    font-size: 1.3rem;
    font-weight: 600;
    margin:10px 4rem;
    text-align: justify;
}
form input{
    height:3.2rem;
    width:80%;
    margin:5px auto;
}
form input:focus,
form textarea:focus{
    box-shadow: 0 0 4px var(--violet);
}
#dark form input:focus,
#dark form textarea:focus{
    box-shadow: 0 0 4px var(--rose-pink);
}

form input, form textarea{
    padding:0.5rem;
    font-size: 1.3rem;
    border:none;
    outline:none;
    border-radius: 0.3rem;
    font-family: 'Roboto,sans-serif';
}
form textarea{
    width:80%;
    margin:5px auto;
    height:12rem;
}
.submit-btn{
    font-size: 1.2rem;
    padding:0.7rem 2rem;
    width:max-content;
    margin:1rem auto;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:0.6rem;
    background:var(--violet)
}
#dark .submit-btn{
    background: var(--rose-pink);
}
.submit-btn:hover{
    opacity: 0.9;
    transform:scale(1.06);
}

@media screen and (max-width:600px){
    .form-container h1{
        font-size: 2rem;
    }
    form{
        width:26rem;
    }
    .submit-btn{
        width:80%;
    }
    form input,form textarea{
        font-size:1.2rem;
    }
}

@media screen and (max-width:490px) {
    .form-container h1{
        font-size: 1.7rem;
    }
    form{
        width:24rem;
    }
    form label{
        margin:12px 3rem;
        font-size: 1.1rem;
    }
    form input{
        height:2.6rem;
    }
    form input,form textarea{
        font-size: 1.1rem;
    }
    .submit-btn{
        font-size: 1.1rem;
        padding:0.7rem;
    }
}
