/* contact page */
:root{
    --light-black:radial-gradient(circle, #161515 60%,#252323 80%,#c2b9b9);
}

.form-container{
    min-height:100vh;
    width:100vw;
    overflow:hidden;
    background: var(--light-grey);
}
.form-container p{
    font-size: 1.4rem;
    margin: 1.5rem auto;
    padding:0.5rem;
}
#dark .form-container p{
    color:var(--helio-gray);
}
form{
    height:fit-content;
    width:35rem;
    padding:0.8rem;
    margin:2rem auto;
    color:var(--violet);
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
#dark form{
    color:var(--dark-theme-vio);
    background: none;
}
form input{
    height:3.2rem;
    width:80%;
    margin:5px auto;
}
form input:focus,
form textarea:focus{
    box-shadow: 0 0 4px var(--violet);
}
#dark form input:focus,
#dark form textarea:focus{
    box-shadow: 0 0 4px var(--dark-theme-vio);
}

form input, form textarea{
    padding:0.5rem;
    font-size: 1.3rem;
    text-indent: 0.5rem;
    border:none;
    outline:none;
    border-radius: 0.4rem;
    /* border:1px solid var(--violet); */
    border-left:4px solid var(--violet);
    font-family: 'Roboto',sans-serif;
}
#dark form input, #dark form textarea{
    background:var(--white-bg);
}
form textarea{
    width:80%;
    margin:5px auto;
    height:10rem;
    resize: none;
}
.submit-btn{
    font-size: 1.2rem;
    padding:0.7rem 2rem;
    width:max-content;
    margin:1rem auto;
    border:none;
    cursor: pointer;
    color:white;
    border-radius:0.6rem;
    background:var(--violet);
}
#dark .submit-btn{
    background: var(--dark-theme-vio);
}
.submit-btn:hover{
    opacity: 0.9;
    transform:scale(1.06);
}

#dark form textarea, #dark form input{
    border-left:4px solid var(--dark-theme-vio);
}

@media screen and (max-width:600px){
    .form-container h1{
        font-size: 2rem;
    }
    form{
        width:22rem;
    }
    .submit-btn{
        width:80%;
    }
    form input,form textarea{
        font-size:1.2rem;
    }
}

@media screen and (max-width:490px) {
    .form-container h1{
        font-size: 1.7rem;
    }
    form{
        width:95vw;
    }
    .form-container p{
        font-size: 1.1rem;
    }
    form input,form textarea{
        font-size: 1.1rem;
        padding:0.65rem;
    }
    .submit-btn{
        font-size: 1.1rem;
        padding:0.7rem;
    }
}
