.footer-container{
    height:3rem;
    width:100vw;
    overflow: hidden;
    text-align: center;
}

.footer-container p{
    font-size: 1.4rem;
    text-shadow:0 0 1px black;
    color:var(--violet);
}

@media screen and (max-width:700px){
    .footer-container p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:500px){
    .footer-container P{
        font-size: 1.2rem;
    }
}