.footer-container{
    height:4rem;
    width:100vw;
    margin-bottom: 2rem;
    overflow: hidden;
    text-align: center;
}

.footer-container p{
    font-size: 1.3rem;
    text-shadow:0 0 1px black;
    color:var(--violet);
}
#dark .footer-container p{
    color:white;
}
@media screen and (max-width:700px){
    .footer-container p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:500px){
    .footer-container p{
        font-size: 1rem;
    }
}