.misc-container{
    height:fit-content;
    display:grid;
    place-content: center;
}
.misc-image-wrapper{
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width:700px){
    .misc-image-wrapper img{
        transform:scale(0.8);
    }
}
@media screen and (max-width:500px){
    .misc-image-wrapper img{
        transform:scale(0.7);
    }
}