@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --hoverlink:rgb(197, 30, 147);
    --black: #1f2020;
    --pinkish:rgb(207, 34, 77);
    --golden : #f7ac23;
}
.navbar-wrapper{
    height:4rem;
    position:fixed;
    width:100%;
    display: flex;
    z-index:9998;
    background: var(--navbar-bg);
    backdrop-filter: blur(10px);
}
#dark .navbar-wrapper{
    background: #0e0e0e21;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:20%;
}
/* logo */
.left .logo-container h1 a{   
    font-size: 2.2rem;
    color:var(--green);
    text-shadow:  1px 2px 3px var(--helio-gray);
}
#dark .left .logo-container h1 a{
    color:var(--green);
    text-shadow: 1px 2px 3px var(--bigtitles);
}

/* toggle bg */
.left .fa-solid{
    margin:auto 10px;
    font-size:2.8rem;
    cursor: pointer;
    transition: all 1000ms;
    color:var(--violet)
}
#dark .left .fa-solid{
    color:var(--dark-theme-vio);
}
.right{
    display: flex;
    position:relative;
    align-items:center;
    justify-content: flex-end;
    gap:0.6rem;
    width:80%;
}

/* menu items */
.right .navbar-link{
    font-size: 1.2rem;
    text-shadow: 0 0 1px grey;
    margin:0 0.7rem;
    padding:0.2rem;
    color:var(--bigtitles);
    position:relative;
}
#dark .right .navbar-link{
    color:var(--helio-gray);
}
.right .navbar-link::after{
    position: absolute;
    content: "";
    height: 0.5rem;
    width:0;
    left:0;
    border-radius: 50%;
    bottom:-0.7rem;
    transition: all 300ms ease-in-out;
    background:black;
}
#dark .right .navbar-link::after{
    background: white;
}
.right .navbar-link:hover::after{
    width: 0.5rem;
    left:50%;
}
/* active link */
.right .active{
    color:white;
    padding:0.4rem;
    width: fit-content;
    border-radius: 0.5rem;
    background:var(--violet);
    opacity: 0.8;
}

#dark .right .active{
   color:white;
   background:var(--dark-theme-vio);
}

/* brand social media icons */
.fa-brands{
    font-size:1.6rem;
    margin:0 0.7rem;
    color:var(--violet);
    padding:0.2rem;
}
.fa-brands:hover{
    transform: scale(1.05);
   color:var(--hoverlink);
}
#dark .fa-brands{
    color:var(--dark-theme-vio);
}
#dark .fa-brands:hover{
    color:white;
}

/* the hamburger for navbar collapse */
.hamburger-icon{
    border:none;
    outline:none;
    display: none;
    font-size: 1.5rem;
    background: transparent;
    z-index:9999;
}

/* dropdown */
.dropdown{
    background: var(--white-bg);
    height: fit-content;
    width: fit-content;
    padding:0.5rem 1rem;
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 12px var(--helio-gray);
    position: absolute;
    left:-1rem;
    top:2rem;
}
#dark .dropdown{
    background:var(--dark-theme);
}
.dropdown a{
    margin-top: 0.2rem;
    margin-bottom: 0.8rem !important;
}
#more{
    font-size: 1.2rem;
    text-shadow: 0 0 1px grey;
    margin:0 0.7rem;
    padding:0.2rem;
    color:var(--bigtitles);
    position: relative;
}
#dark #more{
    color:var(--helio-gray);
}
#more:hover .dropdown{
    display: flex;
}


/* large medium */
@media screen and (max-width:930px){

    .left .logo-container h1 a{
        font-size: 1.6rem;
    }
    .left .fa-solid{
        font-size: 2.4rem;
    }

    /* right side */
    .right .navbar-link{
        font-size: 1.1rem;
        margin: 0.5rem;
    }
    .right .social-icon{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:20rem;
        left:-25%;
        z-index: 30;
        transform: scale(1.1);
        background:var(--navbar-bg);
    }
    #dark .right .social-icon{
        background: var(--dark-theme);
        box-shadow: 0 0 5px var(--helio-gray);
    }
    .right .fa-brands{
        font-size: 1.5rem;
        padding:4px;
    }
 
}

/* mobiles */
@media screen and (max-width:700px){
    .right .navbar-link{
        font-size: 1.1rem;
        padding: 5px;
    }
    .left .logo-container h1 a{
        /* font-size: 1.4rem; */
        margin-left: 5rem;
    }
    .left .fa-solid{
        font-size:2rem;
        cursor: pointer;
    }
    /* display none for showing only toggle btn */

    .right .social-icon{
        left:-45%;
    }
    .right .fa-brands{
        padding:5px;
        font-size: 1.2rem;
    }
    .right .navbar-link, .right .social-btn
    {
        display: none;
    }
    #more{
        font-size: 1.1rem;
    }
    .right{
        transform: translateX(100px);
    }
    .hamburger-icon{
        display: block;
        position: fixed;
        top:1rem;
        right:1rem;
    }
    .hamburger-icon i{
        color:var(--violet);
    }

    .right.open{
        padding-top:2rem;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index:9998;
        box-shadow: 0 0 10px grey;
        transition:transform 400ms;
        transform: translateX(0);
        background: var(--white-bg);
    }
    #dark .right.open{
        background:var(--dark-theme);
    }
    .right.open .navbar-link{
        display: inline-block;
    }
    .right.open .navbar-link.active{
        background: var(--violet);
    }
    #dark .right.open .navbar-link.active{
        background:var(--dark-theme-vio);
    }
}
/* socials */
@media screen and (max-width:500px){
    .right .social-icon{
        left:-54%;
        top:15rem;
    }
}
@media screen and (max-width:400px){
    .right .social-icon{
        left:-60%;
    }
}
@media screen and (max-width:300px){
    .right .social-icon{
        left:-81%;
    }
}