@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --hoverlink:rgb(197, 30, 147);
    --black: #1f2020;
    --pinkish:rgb(207, 34, 77);
    --golden : #f7ac23;
}
.navbar-wrapper{
    height:4rem;
    position:fixed;
    width:100%;
    display: flex;
    z-index:9998;
    background: var(--navbar-bg);
    backdrop-filter: blur(10px);
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:20%;
}
/* logo */
.left .logo-container h2{   
    font-size: 2rem;
    color:var(--golden);
    text-shadow: 0 2px 4px var(--black);
}

/* toggle bg */
.left .fa-solid{
    margin:auto 10px;
    font-size:2.8rem;
    cursor: pointer;
    transition: all 1000ms;
}

.right{
    display: flex;
    position:relative;
    align-items:center;
    justify-content: flex-end;
    gap:0.6rem;
    width:80%;
}

/* menu items */
.right .navbar-link{
    font-size: 1.3rem;
    text-shadow: 0 0 1px grey;
    margin:0 1rem;
    color:var(--bigtitles);
}
.right .navbar-link:hover{
    color:var(--hover);
    text-decoration: underline;
}
/* active link */
.right .active{
    color:var(--hover);
}
#dark .right .navbar-link:hover,
#dark .right .active{
    color:var(--golden);
}

/* brand social media icons */
.fa-brands, .fa-solid{
    font-size:1.7rem;
    margin:0 1rem;
    color:var(--violet);
    padding:0 2px;
}
.fa-brands:hover{
    transform: scale(1.05);
   color:var(--hoverlink);
}

/* the hamburger for navbar collapse */
.hamburger-icon{
    border:none;
    outline:none;
    display: none;
    background: transparent;
    z-index:9999;
}


/* large medium */
@media screen and (max-width:930px){

    .left .logo-container h2{
        font-size: 1.6rem;
    }
    .left .fa-solid{
        font-size: 2.4rem;
    }

    /* right side */
    .right .navbar-link{
        font-size: 1.1rem;
        margin: 0.5rem;
    }
    .right .social-icon{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:20rem;
        left:-25%;
        z-index: 30;
        transform: scale(1.1);
        background:var(--navbar-bg);
    }
    .right .fa-brands{
        font-size: 1.5rem;
        padding:4px;
    }
 
}

/* mobiles */
@media screen and (max-width:700px){
    .right .navbar-link{
        font-size: 1.1rem;
        padding: 5px;
    }
    .left .logo-container h2{
        font-size: 1.5rem;
        margin-left:4rem;
    }
    .left .fa-solid{
        font-size:2rem;
        cursor: pointer;
    }
    /* display none for showing only toggle btn */

    .right .social-icon{
        left:-45%;
    }
    .right .fa-brands{
        padding:5px;
        font-size: 1.2rem;
    }
    .right .navbar-link, .right .social-btn
    {
        display: none;
    }
    .right{
        transform: translateX(100px);
    }
    .hamburger-icon{
        display: block;
        position: fixed;
        top:1rem;
        right:1rem;
    }
    .hamburger-icon i{
        color:var(--violet);
    }

    .right.open{
        padding-top:2rem;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index:9998;
        transition:transform 400ms;
        transform: translateX(0);
        background: var(--white-bg);
    }
    .right.open .navbar-link{
        display: inline-block;
    }
}
/* socials */
@media screen and (max-width:500px){
    .right .social-icon{
        left:-54%;
        top:15rem;
    }
}
@media screen and (max-width:400px){
    .right .social-icon{
        left:-60%;
    }
}
@media screen and (max-width:300px){
    .right .social-icon{
        left:-81%;
    }
}