.project-wrapper{
    min-height: 100vh;
    width:100vw;
    position: relative;
    background:var(--white-bg);
}
.project-container{
    max-width:65rem;
    min-height: fit-content;
    margin:2rem auto;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
}
