.scroller-btn{
    outline:none;
    border:none;
    position:fixed;
    bottom:0.6rem;
    right:0.5rem;
    padding:1rem 0.2rem;
    border-radius: 10px;
    background:var(--violet);
    transition: animation 200ms alternate;
    animation:jump 1000ms infinite;
}
#dark .scroller-btn{
    background: var(--rose-pink);
}
.scroller-btn:hover{
    transform: scale(1.02);
}
@keyframes jump {
    from{
        transform:translateY(5px);
    }to{
        transform:translateY(0px);
    }
}
.scroller-btn i{
    font-size: 1.1rem;
    color:var(--white-bg);
}
#light .scroller-btn:hover{
    box-shadow: 0 0 4px #000000;
}
#dark .scroller-btn:hover{
    box-shadow: 0 0 4px #ffffff;
}

@media screen and (max-width:500px){
    .scroller-btn{
        height:2.6rem;
        width:2.6rem;
    }
    .scroller-btn i{
        font-size: 0.9rem;
        margin:0 auto;
    }
}