
.skills-wrapper{
    min-height:100vh;
    font-family:'Roboto' ;
    width:100vw;
    overflow: hidden;
    position: relative;
}
.title-container{
    padding-top:1rem;
    width:100%;
    text-align: center;
}

.cards-container{
    margin:2rem auto;
    height: 100%;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    background: var(--white);
}

.Card{
    margin:1rem;
    height:21rem;
    width:21rem;
    /* border:3px solid var(--violet); */
    display: grid;
    place-content: center;
    border-radius: 20px;
    text-align: center;
    background: var(--white-bg);
    box-shadow:0 0 4px var(--bigtitles);
}


/* all h3  */

.Card-inner h3{
    font-size:1.5rem;
    padding:1rem;
}
.Card-inner p{
    font-size:1.2rem;
    font-weight: 500;
    padding:0 1rem;
}

.emojis img{
    height:8rem;
    width:8rem;
}

/* --- medium screens----- */
@media screen and (max-width:800px){
    .title-container h2{
        font-size: 2.6rem;
    }
    .Card{
        height:19rem;
        width:19rem
    }
    .Card-inner h3{
        margin:8px 1rem;
        padding:8px;
    }
    .emojis img{
        height:4rem;
        width:4rem;
    }

}

@media screen and (max-width:480px){
    .title-container h2 , .stack-container h2{
        font-size:2.1rem;
    }
    .Card{
        height:14rem;
        width:14rem;
    }
    .Card-inner h3 , .stack-container h3{
        font-size:1.2rem;
        margin:10px auto;
        padding:0.5rem;
    }
    .Card-inner p , .right-side p{
        font-size:1rem;
        padding:0 10px;
    }
    /* tech part  */
    
}