
.skills-wrapper{
    min-height:100vh;
    font-family:'Roboto' ;
    width:100vw;
    overflow: hidden;
    position: relative;
}
.title-container{
    padding-top:1rem;
    width:100%;
    text-align: center;
}

.cards-container{
    margin:2rem auto;
    height: 100%;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    background: var(--white);
}

.Card{
    margin:1rem;
    height:21rem;
    width:21rem;
    padding:0.5rem;
    display: grid;
    /* place-content: center; */
    border-radius: 0.8rem;
    text-align: center;
    background: #ffffff;
    transform:scale(0.5);
    opacity:0;
    box-shadow:0 0 3px var(--white-bg);
}
.Card.show{
    transition:all 800ms ;
    opacity: 1;
    transform:scale(1);
}
#dark .Card{
    background: var(--white-bg);
}


/* all h3  */

.Card-inner h3{
    font-size:1.5rem;
    padding:0.5rem;
}
.Card-inner p{
    font-size:1.2rem;
    font-weight: 500;
    margin:0.5rem auto;
    text-align: center;
    padding:0.5rem 5%;
}

.skills-images img{
    height:11rem;
    width:11rem;
}

/* --- medium screens----- */
@media screen and (max-width:800px){
    .title-container h2{
        font-size: 2.4rem;
    }
    .Card{
        height:20.5rem;
        width:20rem
    }
    .Card-inner h3{
        margin:7px 1rem;
        padding:8px;
    }
    .Card-inner p{
        font-size: 1.156rem;
    }
    .skills-images img{
        height:9rem;
        width:9rem;
    }

}

@media screen and (max-width:500px){
    .title-container h2 {
        font-size:2.1rem;
    }
    .Card{
        height:18rem;
        width:19rem;
    }
    .Card-inner h3 {
        font-size:1.2rem;
        margin:5px auto;
        padding:0.5rem;
    }
    .Card-inner p{
        font-size:1.025rem;
    }
    .skills-images img{
        height:7rem;
        width:7rem;
    }
    
}