.stack-container{
    height:fit-content;
    width:100vw;
    overflow:hidden;
    position: relative;
    background: transparent;
}
.stack-container h3{
    font-size: 2rem;
    margin:1rem auto;
    color:var(--bigtitles);
}
#dark .stack-container h3{
    color:var(--helio-gray);
}
.big-flex-box{
    min-height:100vh;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}
/* tech container */
/* common */
.big-flex-box .left-side{
    height:30rem;
    display: flex;
    width:20rem;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem;
    margin:1rem;
    gap:1rem;
}
.big-flex-box .left-side img{
    height: 5rem;
    width:5rem;
    border-radius: 50%;
    background:var(--white-bg);
    padding:0.9rem;
    box-shadow:  0 0 10px var(--helio-gray) ;
}
#dark .big-flex-box .left-side img{
    box-shadow: 0 0 3px #ffffff;
    /* background:var(--helio-gray); */
}
/* some more info */
.big-flex-box .right-side{
    height: 30rem;
    margin: 1rem;
    width:20rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2;
    color:var(--bigtitles);
    transform: translateX(200px);
    opacity: 0;
}
.big-flex-box .right-side.show{
    transition: all 1000ms ;
    transform: translateX(0);
    opacity: 1;
}
#dark .big-flex-box .right-side{
    color:var(--helio-gray);
}

@media screen and (max-width:800px){
    .stack-container h3{
        font-size: 1.6rem;
    }
    .big-flex-box .left-side{
        height:25rem;
    }
    .big-flex-box{
        margin-top: 1rem;
    }
    .big-flex-box .left-side img{
        height:3.5rem;
        width:3.5rem;
    }
    .big-flex-box .right-side{
        height:20rem;
        font-size:1.3rem;
    }
}
@media screen and (max-width:500px){
    .stack-container{
        min-height:40rem;
    }
    .stack-container h3{
        font-size: 1.4rem;
    }
    .big-flex-box {
        display:block; 
        min-height:30rem;
    }
    .big-flex-box .left-side{
        height:15rem;
        margin:0 auto;
    }
    .big-flex-box .left-side img{
        height:3rem;
        width:3rem;
        padding:0.6rem;
        box-shadow: 0 0 7px solid var(--helio-gray);
    }
    .big-flex-box .right-side {
        min-height:12rem;
        margin:1rem auto;
        font-size:1.2rem;
    }
}