.about-wrapper{
    min-height:100vh;
    width:100vw;
    position: relative;
    background:var(--white-bg);
}
.about-title{
    height:fit-content;
    padding:1rem;
    text-align: center;
}

.about-description{
    width:50vw;
    margin:0 auto;
    padding:1rem;
    transform:translateX(-250px);
    min-height: max-content;
    opacity:0;
}
.about-description.show{
    transition: all 900ms;
    opacity:1;
    transform:translateX(0);
}
.about-description p{
    font-size: 1.5rem;
    color:var(--bigtitles);
    padding:1rem 0;
    text-align: left;
}

#dark .about-description p{
    color:#c2bcbc;
}
@media screen and (max-width:700px){
    .about-description{
        width:70vw;
    }
    .about-description p{
        font-size: 1.4rem;
    }
}
@media screen and (max-width:500px){
    .about-description{
        width: 80vw;
    }
    .about-description  p{
        font-size: 1.2rem;
    }   
}