/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* reset */
*,*::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --bigtitles : white;
    --violet : #6019b1;
    --light-green :#9CE37D;
    --asparagus:#87B37A;
    --xanadu:#77867F;
    --helio-gray:#B4AAC5;
    --golden : #e6990a;
    --body-bg:#cfcdcd;
    --dark-theme:#150d16;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top:60px;
}
a,button{
    cursor:pointer;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background:var(--body-bg);
    font-family: 'Roboto', sans-serif;
}
/* default styling for the headings */
h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
}
/* For the App div  */
.App{
    text-align: center;
    min-height: 100vh;
    width:100vw;
    overflow-x: hidden;
    background:black;
    position: absolute;
    z-index: -200;
}
#light{
    background:var(--body-bg);
}
#dark{
    background:var(--dark-theme);
}
